/* General styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.user-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  width: 50%;
  min-width: 300px;
  margin: 0px auto;
}

.user-info-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 120px ;
}

.user-image {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-inf {
  width: 45%;
  margin-bottom: 0.5rem;
}

.user-inf label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-inf span {
  display: block;
}

/* Additional styles can be added here for specific elements */

.user-inf.eyeColor span {
  color: blue;
}

.user-inf.bank .cardNumber,
.user-inf.bank .cardEXpire {
  /* Mask credit card information */
  display: block;
  -webkit-mask-image: X X 88; /* Safari */
  mask-image: X X 88; /* Standard */
  font-size: 1rem;
}

.user-inf span:last-child {
  margin-bottom: 1rem;
}
